
<h2>Available days: <div id='available'><%=@vacations.available%> </div></h2>

<h2>Requested days: </h2>
<div id='requested'>
  <ul> 
  <% @vacations.requested.each do | request | %>
      <li> <%=request %> <%= link_to "cancel", vacations_request_path(date: request.from), data: {turbo_method: :delete} %> </li>
  <% end %>
  </ul>
</div>

<h3>Request Vacations</h3>
<% if @errors.any? %>
  <div>
    Errors:
    <% @errors.each do |message|%>
      <p><%= message %> </p>
    <%end%>
  </div>
<%end%>

<div id='form'>
  <%= form_with url: '/vacations/request', method: :get, data: { turbo_stream: true } do |form| %>
    <%= form.label :date_range, 'Dates to request' %>
    <%= form.text_field :date_range, class: 'datepicker' %>
    <%= form.submit 'Request' %>
  <% end %>
</div>
