<%= turbo_stream.update "requested" do%>
<ul>
    <% @vacations.requested.each do | request | %>
        <li> <%=request %> <%= link_to "cancel", vacations_request_path(date: request.from), data: {turbo_method: :delete} %> </li>
    <% end %>
</ul>
<% end %>

<%= turbo_stream.update "available" do%>
    <%=@vacations.available%>
<%end%>

<%= turbo_stream.update "form" do%>
    <%= form_with url: '/vacations/request', method: :get, data: { turbo_stream: true } do |form| %>
        <%= form.label :date_range, 'Dates to request' %>
        <%= form.text_field :date_range, class: 'datepicker' %>
        <%= form.submit 'Request' %>
    <% end %>
<%end%>